        body {
            font-family: 'Inter', sans-serif;
            background-color: #f7f3ed; 
        }
        
        :root {
            --primary-color: #D69E2E; 
            --secondary-color: #A0522D; 
        }
        .bg-primary { background-color: var(--primary-color); }
        .text-primary { color: var(--primary-color); }
        .border-primary { border-color: var(--primary-color); }

        
        .nav-item.active {
            color: var(--secondary-color);
            font-weight: 700;
            border-left: 4px solid var(--secondary-color);
            background-color: #fcefd9;
        }

        
        .page-content {
            display: none;
            animation: fadeIn 0.5s ease-out;
        }
        .page-content.active {
            display: block;
        }

        @keyframes fadeIn {
            from { opacity: 0; transform: translateY(10px); }
            to { opacity: 1; transform: translateY(0); }
        }

       
        #scrollToTopBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1000;
            cursor: pointer;
        }
    